.search-bar {
    display: flex;
    align-self: flex-end;
}

.category-links {
    margin-left: 750px;
    display: flex;
    /* flex-direction: ; */
    justify-content: space-between;
}

.category-ul {
    display: flex;
    flex-direction: row;
    justify-self: space-between;
}



.category {
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
}

.category-li a:visited {
    color: black;
}

.categories-div {

}
