.search-bar {
    display: flex;
    flex-direction: row-reverse;
    align-self: flex-end;
}

.category-links {
    margin-left: 35%;
    display: flex;
    justify-content: space-between;
}

.category-ul {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-self: space-between;
}

.prod-ele {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.category {
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
}

.category-li a:visited {
    color: black;
}

.categories-div {
    width: 100%
}

